<a name="about"></a>
    
<section class="content-6 v-center">
    <div>
        <div class="container">
            <h3><img src="/img/chat_ai_logo_black_transparent.png" width="300" alt="">Chat.ai is a service of Vital.ai.</h3>
            
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                    <h6>Chat.ai</h6>
                    <p>
                    Chat.ai provides access to A.I. Assistants, Agents, and A.I. Automation.
                    Chat.ai also enables developers to distribute A.I. Agents.
                    <a target=_blank href=https://www.chat.ai> <font color="#46a5e4">https://www.chat.ai</font></a>
                    </p>

                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>Haley.ai</h6>
                    <p>Haley.ai is an A.I. Assistant deployed on Chat.ai.  More information is available at: <a target=_blank href=https://www.haley.ai> <font color="#46a5e4">https://www.haley.ai</font></a></p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-4 col-sm-offset-2">
                    <h6>Vital.ai</h6>
                    <p>Vital.ai is the developer of the Vital AI Agent Ecosystem and the Haley.ai assistant.  Vital.ai operates Chat.ai.   Information is available at: <a target=_blank href=https://www.vital.ai> <font color="#46a5e4">https://www.vital.ai</font></a></p>
                </div>
            </div>
            
        </div>
    </div>
</section>   