<div class="modal-content-x" id="confirm-login-email-modal">
   
<div class="modal-body" id="confirm-login-email-form">
 
    
<div class="confirmlogin-verify-code-form">
  
    
<p>Verify Login Code:</p>
    
<div class="verify-code-message" style="display: none;">
</div>    

<div class="form-group ">
<input type="text" class="confirm-login-code form-control modal-active return-aware" readonly />
        
</div>    

<button id="confirm-login-email-button" class="btn btn-primary account-invite-confirm">Verify Code</button>
    
<button class="btn btn-primary close-modal">Close</button>
       
</div>
       

<div class="unlock-success-form" style="display: none;">

<p>Login was successfully confirmed and your Login unlocked.
</p> 
    
<div class="request-success text-success" style=""></div>
	    
<button class="btn btn-primary go-to-login">Go to Login</button>
    
<button class="btn btn-primary close-modal">Close</button>

</div>

<div class="unlock-error-form" style="display: none;">
    
<p>There was an error confirming the login code.
</p>
  
<div class="request-error text-danger" style=""></div>
    
<button class="btn btn-primary close-modal">Close</button>
  
</div>

    
    
<div class="changelogin-success-form" style="display: none;">

<p>Login was successfully confirmed and your Login changed.
</p> 
    
<div class="change-login-old-login" style=""></div>
	    
<div class="change-login-new-login" style=""></div>
  
<div class="request-success text-success" style=""></div>
      
<button class="btn btn-primary go-to-login">Go to Login</button>
    
<button class="btn btn-primary close-modal">Close</button>

</div>

<div class="changelogin-error-form" style="display: none;">
    
<p>There was an error confirming the login code.  Your login was not changed.
</p>
  
<div class="request-error text-danger" style=""></div>
    
<button class="btn btn-primary close-modal">Close</button>
  
</div>  
    
    
    
    
    
</div>
