<div class="modal-content-x" id="confirm-email-modal">
    
<div class="modal-body" id="confirm-email-form">
      
<input type="hidden" class="input-code" name="input-code" value=""/>
<input type="hidden" class="input-email" name="input-email" value=""/>
	          
<div class="no-input text-danger" style="display: none;">
<div>No input email or code!</div>
</div>

<div class="input-ok" style="display: none;">
          
<div class="success-hide">
		          
<p class="">Verifying email...</p>
		          
<br>
		          
<div class="text-danger" style="margin-top: 20px;"><span style="display: none;" class="error text-danger"></span></div>
		  		    
</div>
	          
<div class="success text-center" style="display: none;">
		      
<p class="text-success"></p>

		      	
<button id="confirm-email-button" class="btn btn-primary confirm-email">Confirm Email</button>

	     	
<button class="btn btn-primary close-modal">Close</button>
		      	
</div>
          
          
</div>
      
</div>
    
<div class="modal-footer">
<div class="success" style="display: none;">
</div>
    
</div>
</div>
  