<footer class="footer-10">
    	<div class="container">
        <div class="row">
            <div class="col-sm-3">
            	
            	<nav>
            		<h6>Chat AI</h6>
            		<ul>
            			<li><a href="/home" data-navigo2>Home</a></li>
                        <li><a href="#about">About</a></li>

                        <li><a target=_blank href="https://www.chat.ai">Chat.ai</a></li>

                        <li><a target=_blank href="https://docs.chat.ai">Documentation</a></li>

            			<li><a href="#contact">Contact</a></li>
            			
            		</ul>
            	</nav>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <nav>
                    <h6>Haley AI</h6>
                    <ul>
                        <li><a target="_blank" href="https://www.haley.ai/">Haley.ai</li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3 col-sm-offset-2">
                <nav>
                    <h6>Vital AI</h6>
                    <ul>
                        <li><a target="_blank" href="https://www.vital.ai/">Vital.ai</a></li>
                        
                        <li><a target="_blank" href="https://www.agentshop.ai">AgentShop.ai</a></li>    
            
                        
                    </ul>
                </nav>
            </div>
        </div>
            
        <div style="text-align: center;"> Copyright © 2024 Vital AI, LLC </div>
 
    </div>
</footer>