 <section class="content-21 bg-midnight-blue">
    
    <div class="container">
        
    <h2>Chat.ai Developer Admin</h2>
        
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <div class="features features-tabs">
            
        <div class="features-header">
            
        <div class="box active">
            <div class="fui-star"></div>
            Manage A.I. Agents
        </div>

        </div>
            
        <div class="features-bodies">
            
        <div class="features-body active">
            <h6>Chat.ai Developer Admin</h6>
            
            <p>Manage A.I. Agents Deployed on Chat.ai
            </p>
            
            <h6>Chat.ai Agents:</h6>
            
            <ul class="list-group">
            <li class="list-group-item"><span class="fui-check-inverted"> </span><span style="padding-left: 10px;">A.I. Messaging Protocol (AIMP) Standard</span></li>
            <li class="list-group-item"><span class="fui-check-inverted"> </span><span style="padding-left: 10px;">AgentContainer Standard</span></li>
            <li class="list-group-item"><span class="fui-check-inverted"> </span><span style="padding-left: 10px;">Vital.ai Agent Ecosystem</span></li>
            </ul>
  
            <p>&nbsp;</p>
            
            <h6>Developer Subscription</h6>
            <p>Create an account on Chat.ai and request developer access.</p>
            
            <p>Once your account has developer access, login to the developer admin app to manage your A.I. Agent deployments.</p>
            
        </div>

        </div>
    </div>
</div>
</div>
</div>
</section>


<section class="content-36 bg-midnight-blue">
    <div class="container">
    &nbsp;
    </div>
</section>
        

<section class="content-11" style="background-color: #cbe6ef;">
    <div class="container">
        <span style="font-size: 30px;">Want to deploy an A.I. Agent on Chat.ai? </span>
              
<a class="btn btn-large btn-info signup-form" style="" href="https://chat.ai/developers.html">Developers</a>
    
    </div>
</section>



   <section class="content-5">
    <div class="container">
        <img src="/img/chat-ai-screenshot-writing.png" width="100%" alt="">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Chat.ai A.I. Assistant App</h3>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-round-bubble"> </span>
                <h6>Access from Anywhere</h6>
                <p>Access Chat.ai via your Desktop, Laptop, Tablet, or Mobile Phone.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-gear"> </span>
                <h6>Account Settings</h6>
                <p>Manage your account settings and your subscription plan.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-plus"> </span>
                <h6>Help</h6>
                <p>Get suggestions and learn about new features.  See examples of how to interact with the A.I. and try them out!</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-upload"> </span>
                <h6>Manage Plugins &amp; Integrations</h6>
                <p>Connect to services from providers, such as Google, to add additional capabilities to your A.I.</p>
            </div>
        </div>
    </div>
</section>     
  
