<!-- 
<div class="modal fade" id="reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="reset-password-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
 -->
    <div class="modal-content-x" id="reset-password-modal">
      <!--
      <div class="modal-header">
        <button type="button" class="close close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       <br>
      </div>
      -->
      <div class="modal-body">
      
      	<div class="initial">
      
            <p>Request resetting your Chat.AI Password:</p>
            
        	<p>Email Address:</p>
     		<div class="form-group ">
       			<input type="email" class="form-control modal-active" placeholder="Email" id="reset-input-email">
       			<i class="fa fa-user"></i>
     		</div>
     		
     		<div>&nbsp;
				<span class="request-status request-success text-success" style=""></span>
				<span class="request-status request-error text-danger" style=""></span>
     		</div>
     		
      	</div>
      	
      	<div class="on-success text-center" style="display: none;">
      	
      		<p>Request to reset password was successfully received.<br>
            A link to reset the password will be sent shortly, if that email address is currently active in our system.</p>
      		
      	</div>
      	
      </div>
      <div class="modal-footer">
      
      	<div class="initial">
	      	<div class="initial text-center">
		        <button id="email-reset-button" class="btn btn-info modal-active" role="button">Reset</button>
	      	</div>
      	</div>
      	
      	<div class="on-success text-center" style="display: none;">
      	
			<button class="close-modal btn btn-info">Close</button>
			
      	</div>
      	
      </div>
    </div>
<!-- 
  </div>
</div>       
 -->